/*

TemplateMo 559 Zay Shop

https://templatemo.com/tm-559-zay-shop

---------------------------------------------
Table of contents
------------------------------------------------
1. Typography
2. General
3. Nav
4. Hero Carousel
5. Accordion
6. Shop
7. Product
8. Carousel Hero
9. Carousel Brand
10. Services
11. Contact map
12. Footer
13. Small devices (landscape phones, 576px and up)
14. Medium devices (tablets, 768px and up)
15. Large devices (desktops, 992px and up)
16. Extra large devices (large desktops, 1200px and up)
--------------------------------------------- */


.btn.btn-success.aissa{
  width: 8pc;
  font-size: 30px !important;
  border-radius: 1pc;
  color: #ff5e07;
  background-color: transparent;
  transition: all 0.35s ease-out;
}
.btn.btn-success.aissa:hover{
  transition: all 0.35s ease-out;
  color: #fff;
  background-color: #ff5e07;
}

/* Typography */
body, ul, li, p, a, label, input {
  font-family: 'Roboto', sans-serif;
  font-size: 18px !important;
  font-weight: 300 !important;
  text-align: end;
  
}
#text, #text1{
  font-size: 33px;
  font-family: 'DS Arabic', sans-serif;
}

a{
  text-decoration: auto;
}

.cir {
  display: flex;
  background: #00000017;
  padding: 8px;
  border-radius: 19px;
  transform: translateY(6px);
}
.cir.out {
  background: transparent;width: 12pc;
}
.testmeeeeeee__{display: none;}


.cir p {
  width: 1.75pc;
  height: 1.75pc;
  background: aliceblue;
  border-radius: 50%;
  margin: 0 5px;
  border: solid 1.5px;
  cursor: pointer;
  box-shadow: 0 0 0 0 red;
  transition: all 0.15s cubic-bezier(0, 0, 0.21, -0.26);
}
.cir.out p {
  width: 1pc;
  height: 1pc;
  background: aliceblue;
  border-radius: 6px;
  margin: 0;
  border: solid 1px #919191;
}
.h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px !important;
  font-weight: 200 !important;
}
.h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 60px !important;
  font-weight: 300;
  text-align: center;
}
.h2.sghir{
  font-size: 30px !important;
}
.h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px !important;
}
/* General */
.logo { font-weight: 500 !important;}
.text-warning {  color: #ffb500 !important;}
.text-muted { color: #bcbcbc !important;}
.text-success { color: #fff !important;}
#bst {
    font-size: 76px;
    margin: 6pc 30pc;
    position: absolute;
}
.text-light { color: #cfd6e1 !important;}
.bg-dark { background-color: #212934 !important;}
.bg-light { background-color: #e9eef5 !important;}
.bg-black { background-color: #1d242d !important;}
.bg-success { background-color: #ffb500 !important;}
.btn-success {
  background-color: #ff7600 !important;
  border-color: #ff5e07 !important;
  color: #ffffff;
}
.btn-success.aissa {
  background-color: transparent !important;
  border-color: #ff5e07 !important;color: #ff5e07;
}
.btn-success:hover {
  background-color: #ff5e07 !important;
  border-color: #ff5e07 !important;
  color: #fff;
}
p.notification {
  background: #0088ff;
  color: #ffffff;
  border-radius: 50%;
  width: 2pc;
  height: 2pc;
  text-align: center;
  padding: 4px;
  font-family: fantasy;
}

.overHdn {
  height: 12pc;
  overflow: hidden;
  transition: all 0.2s;
}

.list-unstyled li.mmmmm{    margin: 166% 0;}
.byyyyuyuy {
  animation: wiggle 2s linear infinite;
}




a.tags {
  color: white;
  background: #dc3545;
  transition: all 0.4s;
  border-radius: 8px;
  padding: 6px;
}
a.tags:hover{
  background: #842029;
}


/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}
.type_color{display: none;}
.price_cc{display: none;}
.type_size{display: none;}


input.phone_num, input.adress,.name {
  width: 100%;
  padding: 8px;margin: 6px 0;
}

.byyyyuyuy {
  
  width: 7em;
  font-size: 19px;
  
  background: #444;
  background: linear-gradient(top, #555, #333);
  border: none;
  border-top: 3px solid orange;
  border-radius: 0.3em;
  color: #fff;
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 1em;
  transform-origin: 50% 5em;
}









.pagination .page-link:hover {color: #000;}
.pagination .page-link:hover, .pagination .page-link.active {
  background-color: #ffc31f;
  color: #fff;
}
/* Nav */
#templatemo_nav_top { min-height: 40px;}
#templatemo_nav_top * { font-size: .9em !important;}
#templatemo_main_nav a { color: #212934;}
#templatemo_main_nav a:hover { color: #c48424;}
#templatemo_main_nav .navbar .nav-icon { margin-right: 20px;}

/* Hero Carousel */
#template-mo-zay-hero-carousel { background: #efefef !important;}
/* Accordion */
.templatemo-accordion a { color: #000;}
.templatemo-accordion a:hover { color: #333d4a;}
/* Shop */
.shop-top-menu a:hover { color: #f7c57a !important;}
/* Product */
.product-wap { box-shadow: 0px 0 0px 5px rgb(0 0 0 / 10%)}
.product-wap .product-color-dot.color-dot-red { background:#f71515;}
.product-wap .product-color-dot.color-dot-blue { background:#6db4fe;}
.product-wap .product-color-dot.color-dot-black { background:#000000;}
.product-wap .product-color-dot.color-dot-light { background:#e0e0e0;}
.product-wap .product-color-dot.color-dot-green { background:#ffaa0b;}
.card.product-wap .card .product-overlay {
  background: rgba(0,0,0,.2);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}
.card.product-wap:hover .card .product-overlay {
  visibility: visible;
  opacity: 1;
}
.card.product-wap a { color: #000;}
#carousel-related-product .slick-slide:focus { outline: none !important;}
#carousel-related-product .slick-dots li button:before {
  font-size: 15px;
  margin-top: 20px;
}
/* Brand */
@media (max-width: 414px) {
  div#container * {
    font-size: 13px;
  }
}



.brand-img {
  filter: grayscale(100%);
  opacity: 0.5;
  transition: .5s;
}
.brand-img:hover {
  filter: grayscale(0%);
  opacity: 1;
}
/* Carousel Hero */
#template-mo-zay-hero-carousel .carousel-indicators li {
  margin-top: -50px;
  background-color: #0a58ca;
}
#template-mo-zay-hero-carousel .carousel-control-next i,
#template-mo-zay-hero-carousel .carousel-control-prev i {
  color: #0a58ca !important;
  font-size: 2.8em !important;
}
/* Carousel Brand */
.tempaltemo-carousel .h1 {
  font-size: .5em !important;
  color: #000 !important;
}
/* Services */
.services-icon-wap {transition: .3s;}
.services-icon-wap:hover, .services-icon-wap:hover i {color: #fff;}
.services-icon-wap:hover {background: #df8b2b;}
/* Contact map */
.leaflet-control a, .leaflet-control { font-size: 10px !important;}
.form-control { border: 1px solid #e8e8e8;}
/* Footer */
#tempaltemo_footer a { color: #dcdde1;}
#tempaltemo_footer a:hover { color: #e7b962;}
#tempaltemo_footer ul.footer-link-list li { padding-top: 10px;}
#tempaltemo_footer ul.footer-icons li {
  width: 2.6em;
  height: 2.6em;
  line-height: 2.6em;
}

.h1.text-success.mine {
  text-align: center;
  background: #ffb500;
  border-radius: 20px;
  color: #fff;
}


#tempaltemo_footer ul.footer-icons li:hover {
  background-color: #cfd6e1;
  transition: .5s;
}
#tempaltemo_footer ul.footer-icons li:hover i {
  color: #212934;
  transition: .5s;
}
#tempaltemo_footer .border-light { border-color: #2d343f !important;}
/*
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
*/
/* Small devices (landscape phones, 576px and up)*/
.product-wap .h3, .product-wap li, .product-wap i, .product-wap p {
  font-size: 12px !important;
}
.product-wap .product-color-dot {
  width: 6px;
  height: 6px;
}

@media (min-width: 576px) {
  .tempaltemo-carousel .h1 { font-size: 1em !important;}
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  #templatemo_main_nav .navbar-nav {max-width: 450px;}
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  #templatemo_main_nav .navbar-nav {max-width: 550px;}
  #template-mo-zay-hero-carousel .carousel-item {min-height: 30rem !important;}
  .product-wap .h3, .product-wap li, .product-wap i, .product-wap p {font-size: 18px !important;}
  .product-wap .product-color-dot {
    width: 12px;
    height: 12px;
  }
}
.card.product-wap a.hdn__ {
  height: 16pc;
  overflow: hidden;

}




.hdn {
  overflow: hidden;
  height: 6cm;
  border-radius: 17px;
  text-align: center;
}
.hdn.add {
  box-shadow: 0 0 3px 0 #8f8f8f;
  border-radius: 7px;
}


/* CSS */
.button-32 {
  background-color: #fff000;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-32:not(:disabled):hover,
.button-32:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button-32:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}
    
.hdn.add img {
  border-radius: 0;
  border: none;
  box-shadow: none;
}
.hdn.add.caroselll {
  height: 11cm;
  overflow: hidden;
  border-radius: 17px;
  text-align: center;box-shadow: none;
}
@media (max-width:375px) {
  .hdn.add.caroselll {
      height: 8cm;
      
  }
  .edit{
    display: none;
  }
}
.hdn.add.sv {
  height: 9cm;
}
.h1.text-success{text-align: center;}

.hdn.add.oho {
  border-radius: 0;
}






.vid_aissa {
  width: 17pc;
  border-radius: 24px;
  background: #404040;
  transform: translate(11px);
  margin: 11px 6px;
}
@media (max-width: 991px) {
  .vid_aissa {
    width: 17pc;
    border-radius: 24px;
    background: #404040;
    transform: translate(81px);
    margin: 11px 6px;
  }
}
@media (max-width: 767px) {
  .vid_aissa {
    width: 17pc;
    border-radius: 24px;
    background: #404040;
    transform: translate(141px);
    margin: 11px 6px;
  }
}
@media (max-width: 544px) {
  .vid_aissa {
    width: 17pc;
    border-radius: 24px;
    background: #404040;
    transform: translate(46px);
    margin: 11px 6px;
  }
}


/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
#container {
	text-align: center;
}

#text {
  margin: 0 5px;
	display: inline-block;
	vertical-align: middle;
	color: #ffb500;
}
#text:last-of-type {
	color: rgb(49, 49, 49);
}
.aissas{
  color: #fff;background: #ff5e07;
}
.j48{
  margin: 68px 0;
}
#cursor {
  display: inline-block;
  vertical-align: middle;
  width: 3px;
  height: 45px;
  background-color: #ffb500;
  animation: blink .3s step-end infinite;
  transform: translateY(-13px);
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: #ffb500; 
	}
}

.prc{
  display: flex;
}
.price0 {
  color: #0000004d;
  text-decoration: line-through;
}
.price1 {
  color: #ffb500;
}
p.dh {
  margin: 14px 0;
  color: #ffce57;
}
